*{
margin: 0;
padding: 0;
}

body  {
        font-family: 'Poppins', sans-serif, 'Atma', cursive, 'Baloo Da 2', cursive;
        background-color: whitesmoke;
      }

/* Header */

 header  {           
          background-color: #2d25a0;
        } 

.copa-america-live  { 
                        padding-top: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;                     
                      }

.head-text  {
              font-size: 3em;
              color: #ffffff;
              font-family: 'Poppins', sans-serif;
            }

.head-button   {
                  padding-top: 30px;
                  /* padding-bottom: 30px; */
                }

.head-button button   {
                        width: 150px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-size: 16px;
                        font-style: bold;
                        color: whitesmoke;
                        background-color: red;
                        border-radius: 12px;
                        cursor: pointer;
                      }

 span img {
            width: 50px;
            height: 23px;
            padding-top: 17px;
            padding-bottom: 12px;
            padding-left: 3px;
          }

.image-container  {
                    position: relative;
                    cursor: pointer;
                  }

#match-image-live { 
                    border-radius: 15px; 
                    display: block;
                    width: 600px;
                    height: 425px;   
                    border-radius: 15px; 
                    box-shadow: 0 0 25px rgb(252, 251, 250), 0 0 25px rgb(228, 171, 67);
                  }

.overlay    {
            position: absolute;
            bottom: 100%;
            border-radius: 15px; 
            background-color: #008CBA;
            overflow: hidden;
            width: 600px;
            height:0;
            transition: 3s ease;
          }


.text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 15%;
        right: 15%;
        text-align: center;
      }

.image-container:hover .overlay {
                                  bottom: 0;
                                  height: 100%;
                                }



/*--খেলোয়ার কাকুদের সেকশন---
--------First section------ */

#player-details   {
                  padding-top: 100px;
                  display: grid;
                  grid-template-columns: auto auto auto;
                  grid-template-rows: auto auto auto auto;
                  grid-column-gap: 3em;
                  grid-row-gap: 3em;                    
                  justify-content: center;   
                  }
                  
.top-twelve-player  {
                    width: 300px;
                    height: 256px;
                    border-radius: 15px;
                    box-shadow: 1px 1px 2px rgb(58, 19, 233), 0 0 25px rgb(67, 247, 97), 0 0 20px rgb(156, 156, 223);
                    }

.player-name-details {
                    width: 300px;
                    height: 154px;
                    }



.player-name-details {
                       padding-top: 15px;
                     }

.blog { 
        background-color: aqua;
        border-radius: 15px;
        padding: 15px 15px 0px 15px;
        box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      }

.p-name{
          font-family: 'Poppins';
          font-weight: bold;
          font-size: 300 40;
}

.p-details  {
            padding-top: 15px;
            text-align: justify;
            line-height: 1.2em;          
            }

/*-----ম্যাচ দেখার সেকশন--------
--------Second Section-------- */

.copa-america-21  { 
                    padding-top: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around; 
                  }

.watch-now h1  {
                font-size: 3em;
                font-family: 'Poppins', sans-serif;
              }

.watch-now p  {
                padding-top: 30px;
                /* padding-right: 35px; */
                text-align: justify;
              }

#watch-now-btn  {
                  padding-top: 30px;
                }

.watch-now button   {
                      width: 150px;
                      height: 50px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      text-decoration: none;
                      font-size: 16px;
                      font-style: bold;
                      color: whitesmoke;
                      background-color: red;
                      border-radius: 12px;
                      cursor: pointer;
                    }

button span img {
                width: 50px;
                height: 23px;
                padding-top: 17px;
                padding-bottom: 12px;
                padding-left: 3px;
                }

#match-image img{
                width: 567px;
                height: 427px;
                border-radius: 15px;
                box-shadow: 1px 1px 2px rgb(58, 19, 233), 0 0 25px rgb(67, 247, 97), 0 0 20px rgb(156, 156, 223);
              }

/*------------------------
------ ইহা ফুটার ভাইয়া-----*/

footer  {
          padding-top: 100px;
          display: flex;
          justify-content: center;
        }

.all-footer-here  {
                      flex-direction: column;
                  }

.foot-image-ball  {
                    width: 484px;
                    height: 110px;
                  }

.foot-icon  {
              display: inline-flex;   
              gap: 25px;
              margin-left: 185px;
            }

.copy-right {
                margin-left: 160px;
                padding-top: 15px;
            }

@media only screen and (max-width:688) { 
  header {
    height: 850px;
    width: 100%;
  }
  .copa-america-live{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
  }
  #match-image-live { 
    border-radius: 15px; 
    display: block;
    width: 300px;
    height: 212px;   
    border-radius: 15px; 
    box-shadow: 0 0 25px rgb(252, 251, 250), 0 0 25px rgb(228, 171, 67);
  }

.overlay    {
              position: absolute;
              bottom: 100%;
              border-radius: 15px; 
              background-color: #008CBA;
              overflow: hidden;
              width: 300px;
              height:0;
              transition: 3s ease;
            }
}